*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# KDE directory info
.directory

# Maven
Desktop/target

# Run Byproducts
Desktop/derby.log
/Server/target/

#Eclipse
Server/.classpath
Server/.settings/*
Server/.factorypath
Server/.apt_generated
Server/.project
Desktop/.classpath
Desktop/.project
Desktop/.settings/

#gulp and nodejs
Desktop/src/main/resources/resources/node_modules/
Desktop/src/main/resources/resources/Gulpfile.js
