<link href="/css/configuration.css" rel="stylesheet">
<div id="content">
    <h1>Configuration</h1>
    <form method="post" action="/recetario/Configuration" name="fconf" id="fconf">
        <input type="hidden" name="post" value="/recetario/Configuration">
        <label for="recetarioName">
            Name:<br>
        </label>
        <input type="text" ng-model="preferences.recetarioName" name="recetarioName" id="recetarioName" required/><br>
        <label for="recipesPerPage">
            Recipes Per Page:<br>
        </label>
        <input type="number" id="recipesPerPage" name="recipesPerPage" ng-model="preferences.recipesPerPage" required min="3"><br>
        <label for="recipeBackupInterval">
            New/Edit Recipe backup interval ( miliseconds ):<br>
        </label>
        <input type="number" ng-model="preferences.recipeBackupInterval" name="recipeBackupInterval" id="recipeBackupInterval" required min="30000"/><br>
        <label for="readOnlyMode">
            Read only mode:<br>
        </label>
        <select ng-model="preferences.mode" name="readOnlyMode" id="readOnlyMode" ng-options="mode.id as mode.label for mode in modes"></select><br>
        <input type="button" value="send" ng-click="savePreferences()"/>
    </form>
    <p id="message" ng-if="message != null">{{message}}</p>
</div>