body {
}

#tags {
    width:40%;
}

div#recipes {
    padding-left:1em;
}

div.recipe {
    width:80%;
    padding:0.9em;
    color:darkgrey;
    font-size:1em;
    border-bottom: 2px dotted lightgrey;
        
}

div.recipe a {
    font-weight: bold;
    font-size:1.2em;
}

div.recipe span {
    float:right;
}

div#recipeDetail {
    position:absolute;
    display:none;
    border:2px solid green;
    border-radius:25px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding:1em;
}

div#recipeDetail span.right {
    float:right;
}

div#recipeDetail div.recipeDiv {
    overflow:auto;
}

div#recipeDetail span.tags {
    padding-top:0.5em;
    color:darkgrey;
}