#baseUrl {
    width:60%;
}

select[multiple] {
    width: 100%;
    height:calc( 100vh - 30em );
}

form table {
    margin-top: 1em;
    width:100%;
}

form table tbody tr td:nth-child(1) {
    width:45%;
}

form table tbody tr td:nth-child(2) {
    width:10%;
    text-align: center;
}

form table tbody tr td:nth-child(2) input[type='button'] {
    width:5em;
    height:3em;
}

form table tbody tr td:nth-child(3) {
    width:45%;
}

div#countdown {
    background-color: #ffffff;
    padding: 2em;
    opacity: 100%;
    position:absolute;
    top:40%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 4em;
    border: 1px solid red;
    width: 16em;
    text-align:center;
}