
/* 
 * Normal pages
 */
html {
    width:100%;
    height:100%;
}

body {
    font-family:sans-serif;
    margin:0px;
}


div#content {
    padding:1em;
}

secction.error {
    color: red;
}

a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:maroon;
    text-decoration: underline;
}


/*
 * Forms
 */

input[type='text'] {
    padding: 0.2em;
}

input[type='text']:valid {
    border: 1px solid green;
    background: greenyellow;
}

input[type='text']:invalid {
    border: 1px solid red;
    background: pink;
}

input[type='url'] {
    padding: 0.2em;
}

input[type='url']:valid {
    border: 1px solid green;
    background: greenyellow;
}

input[type='url']:invalid {
    border: 1px solid red;
    background: pink;
}

input[type='number'] {
    padding: 0.2em;
}

input[type='number']:valid {
    border: 1px solid green;
    background: greenyellow;
}

input[type='number']:invalid {
    border: 1px solid red;
    background: pink;
}

input[type="button"] {
    border:2px solid black;
    padding:0.2em;
    color:black;
    font-weight: bold;
    border-radius:0.4em;
    margin-left:0.5em;
    margin-right:0.5em;
}

input[type="submit"] {
    border:2px solid black;
    padding:0.2em;
    color:black;
    font-weight: bold;
    border-radius:0.4em;
    margin-left:0.5em;
    margin-right:0.5em;
}

select {
    border:1px solid black;
    padding:0.2em;
    color:black;
    font-weight: bold;
    border-radius:0.4em;    
}

textarea {
    padding: 0.2em;
}
textarea:valid {
    border: 1px solid green;
    background: greenyellow;    
}

textarea:invalid {
    border: 1px solid red;
    background: pink;    
}

/* Error page css
*/
body.error {
    padding:1em;
}
body.error pre {
    word-wrap: normal;
    font-family:monospace;
    color: red;
}

/*
 * Menu
 */

div#menu {
    clear:both;
    width:100%;
    display:block;
    padding-top:0.5em;
    padding-bottom:0.5em;
    color:white;
    background-color: black;
    font-weight:bold;
}

div#menu span {
    margin-left:1em;
    border-right: 1px dotted white;
    padding-right:1em;
}

div#menu span.menuSelected {
    color:chocolate;
}

div#menu span a {
    text-decoration:none;
    color:white;
}

div#menu span a:visited {
    color:white;
}

div#menu span a:hover {
    text-decoration:underline;
    cursor: pointer;
}

div#menu span.menuSelected a {
    text-decoration:none;
}

div#menu span.menuSelected a:visited {
    color:chocolate;
}

div#menu span.menuSelected a:hover {
    text-decoration:none;
    cursor: default;
}
